<%- include("header");-%>

    <div class="box" id="heading">

        <h1>Code is very interesting if and only you know what you are doing</h1>
    </div>    

    <p> I learnt coding from one of the best institute in the world, APP BREWERY. <br>
        my tutor is the best in the world and i LOVE her so much. Many thanks Mrs Angela for all you do</p>


    

<%- include("footer"); -%>